@{
    Layout = null;
    string condot = ".html";
}
  @model List<Web.Model.About>
<div id="nav_menu-2" class="col pb-0 widget widget_nav_menu">
    <span class="widget-title">VỀ CHÚNG TÔI</span>
    <div class="is-divider small"></div>
    <div class="menu-f2-container">
        <ul id="menu-f2" class="menu">
          @foreach (var item in Model)
          {
            <li id="menu-item-529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529">
                <a href="/ve-chung-toi/@item.LinkSeo@condot">@item.MetaTitle</a>
            </li>
          }
        </ul>
    </div>
</div>