@model Web.Model.Video
<div class="panel-heading">
    <div class="panel-title">
        Fanpage Facebook
    </div>
</div>
<div class="panel-body">
    <div class="fb-page" id="fanpageled" data-href="https://www.facebook.com/ledtraitim" data-tabs="timeline"
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/ledtraitim" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/ledtraitim">Shop Led Trái Tim - Quà Tặng Tình Yêu</a>
        </blockquote>
    </div>
</div>
 