@model Web.Model.News
@{
    TempData["PathName"] = "Chuyện của gấu";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="large-9 col">
    <div id="row-1530498083" class="row large-columns-2 medium-columns- small-columns-1 row-masonry" data-packery-options='{"itemSelector":".col","gutter": 0,"presentageWidth" : true}'>
        <div class="col post-item"> 
            <div class="col-inner">
                <a href="../../shop-gau-bong-tphcm-cao-cap-dep-gia-re/index.html" class="plain">
                    <div class="box box-text-bottom box-blog-post has-hover">
                        <div class="box-image">
                            <div class="image-cover" style="padding-top:56%;">
                                <img onload="Wpfcll.r(this,true);" src="../../wp-content/plugins/wp-fastest-cache-premium/pro/images/blank.gif" width="300" height="213" data-wpfc-original-src="https://gausaigon.com/wp-content/uploads/2018/05/gấu-bông-cao-cấp-300x213.png" class="attachment-medium size-medium wp-post-image" alt="gấu bông cao cấp" data-wpfc-original-srcset="https://gausaigon.com/wp-content/uploads/2018/05/gấu-bông-cao-cấp-300x213.png 300w, https://gausaigon.com/wp-content/uploads/2018/05/gấu-bông-cao-cấp-768x546.png 768w, https://gausaigon.com/wp-content/uploads/2018/05/gấu-bông-cao-cấp-510x363.png 510w, https://gausaigon.com/wp-content/uploads/2018/05/gấu-bông-cao-cấp.png 778w" sizes="(max-width: 300px) 100vw, 300px" />
                            </div>
                        </div><div class="box-text text-left">
                            <div class="box-text-inner blog-post-inner">
                                <h5 class="post-title is-large ">Shop Gấu Bông TPHCM Cao Cấp Đẹp Giá Rẻ</h5> <div class="is-divider"></div><p class="from_the_blog_excerpt">Shop Gấu Bông TPHCM Cao Cấp Đẹp Giá Rẻ , Gấu bông là người bạn thân...					</p>
                            </div>
                        </div>
                        <div class="badge absolute top post-date badge-circle-inside">
                            <div class="badge-inner">
                                <span class="post-date-day">16</span>
                                <br>
                                <span class="post-date-month is-xsmall">Th9</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
