
<div class="form-inline">
    <input type="file" id="fileUploadVideo" accept="video/*" name="fileUploadVideo" style="display:none;" />
    <input type="button" id="btnUploadVideo" value="Thêm video" class="btn btn-success" />
</div>
@*<input type="hidden" name="@(ViewBag.ControlName)" id="urlVideo" value="@(ViewBag.ControlValue)"/>*@
<input type="hidden"   id="urlVideo" value="1" />
    <script>
        $(function () {
            $('#btnUploadVideo').click(function () {
                $('#fileUploadVideo').trigger('click');
            });
            $('#fileUploadVideo').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $("#fileUploadVideo").get(0);
                    var files = fileUpload.files;
                    var fileData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    } 
                    fileData.append('username', 'Manas');
                    $.ajax({
                        url: '/Admin/UploadVideo/ProcessUpload',
                        type: "POST",
                        contentType: false,  
                        processData: false,  
                        data: fileData,
                        success: function (result) {
                            $('#bl_remove').css('display', 'block');
                            $('#link_video').text(result);
                            $("#video_name").attr('src', result);
                            $('#urlVideo').val("/Upload/Videos/" + result);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }  
            });
        });
    </script>

