@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    string condot = ".html";
}
  @model Web.Model.Policy
<div class="large-9 col">
    <article id="post-829" class="post-829 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-cua-gau tag-meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong">
        <div class="article-inner ">
            <header class="entry-header">
                <div class="entry-header-text entry-header-text-top text-left">
                    <h1 class="entry-title">@Model.MetaTitle</h1>
                    <div class="entry-divider is-divider small"></div>
                </div><!-- .entry-header -->
            </header><!-- post-header -->
            <div class="entry-content single-page">
                @Html.Raw(Model.Contents)
                <div class="blog-share text-center">
                    <div class="is-divider medium"></div>
                    <div class="social-icons share-icons share-row relative">
                        <a href="whatsapp://send?text=M%E1%BA%B9o%20ph%C3%A2n%20bi%E1%BB%87t%20g%E1%BA%A5u%20b%C3%B4ng%20cao%20c%E1%BA%A5p%20v%C3%A0%20g%E1%BA%A5u%20b%C3%B4ng%20k%C3%A9m%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng - https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium" title="Share on WhatsApp">
                            <i class="icon-phone"></i>
                        </a>
                        <a href="http://www.facebook.com/sharer.php?u=https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip facebook" title="Share on Facebook">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="http://twitter.com/share?url=https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip twitter" title="Share on Twitter">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="mailto:enteryour@addresshere.com?subject=M%E1%BA%B9o%20ph%C3%A2n%20bi%E1%BB%87t%20g%E1%BA%A5u%20b%C3%B4ng%20cao%20c%E1%BA%A5p%20v%C3%A0%20g%E1%BA%A5u%20b%C3%B4ng%20k%C3%A9m%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng&amp;body=Check%20this%20out:%20https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/" rel="nofollow" class="icon button circle is-outline tooltip email" title="Email to a Friend">
                            <i class="icon-envelop"></i>
                        </a>
                        <a href="http://pinterest.com/pin/create/button/?url=https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/&amp;media=https://gausaigon.com/wp-content/uploads/2018/05/g%e1%ba%a5u-b%c3%b4ng-cao-c%e1%ba%a5p.png&amp;description=M%E1%BA%B9o%20ph%C3%A2n%20bi%E1%BB%87t%20g%E1%BA%A5u%20b%C3%B4ng%20cao%20c%E1%BA%A5p%20v%C3%A0%20g%E1%BA%A5u%20b%C3%B4ng%20k%C3%A9m%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest" title="Pin on Pinterest">
                            <i class="icon-pinterest"></i>
                        </a>
                        <a href="http://plus.google.com/share?url=https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/" target="_blank" class="icon button circle is-outline tooltip google-plus" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" title="Share on Google+">
                            <i class="icon-google-plus"></i>
                        </a>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://gausaigon.com/meo-phan-biet-gau-bong-cao-cap-va-gau-bong-kem-chat-luong/&amp;title=M%E1%BA%B9o%20ph%C3%A2n%20bi%E1%BB%87t%20g%E1%BA%A5u%20b%C3%B4ng%20cao%20c%E1%BA%A5p%20v%C3%A0%20g%E1%BA%A5u%20b%C3%B4ng%20k%C3%A9m%20ch%E1%BA%A5t%20l%C6%B0%E1%BB%A3ng" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin" title="Share on LinkedIn">
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div><!-- .entry-content2 -->

        </div><!-- .article-inner -->
    </article>
    <div id="comments" class="comments-area">
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Trả lời <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Hủy</a></small></h3>			<form action="https://gausaigon.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                <p class="comment-notes"><span id="email-notes">Email của bạn sẽ không được hiển thị công khai.</span> Các trường bắt buộc được đánh dấu <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Bình luận</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Tên <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
                <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
                <p class="comment-form-url"><label for="url">Trang web</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Phản hồi" /> <input type='hidden' name='comment_post_ID' value='829' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </p>
            </form>
        </div>
    </div><!-- #comments -->
</div> <!-- .large-9 -->

